body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header {
    background-color: darkorange;
    height: 70px;
}
main {
    flex: 1;
}
footer {
    background-color: hotpink;
    height: 30px;
}
