body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 30px;
    margin: 0;
}
header {
    background-color: darkorange;
}
main {
}
footer {
    background-color: hotpink;
}
