* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#headlines {
    position: absolute;
    top: 0;
    left: 50%;
    white-space: nowrap;
    padding: 30px;
    width: 100%;
    font-size: 20px;
}
.box {
    height: 60px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#headlines a {
    padding-right: 30px;
}
